.selectedMonth {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-evenly;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
        rgba(213, 126, 231, 1) 0%, rgba(255, 107, 108, 1) 100%); 
}
.selectedMonth .btn {
    background: rgba(0, 0, 0, 0);
    color: white;
}
.am-button.btn.am-button-ghost.am-button-small.am-button-inline{
    margin-top: 7px;
}
.am-button.btn.am-button-ghost.am-button-small.am-button-inline::before{
    border-radius: 32px;
    border-color: white;
}
.selectedMonth .month {
    width: 40%;
    line-height: 44px;
    padding: 0 10px;
    text-align: center;
}
.detail-count {
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(213, 126, 231, 1) 0%,
      rgba(255, 107, 108, 1) 100%
    );
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.3rem;
}
.detail-ul{
    padding: 1rem 1rem;
    border-bottom: 1px rgba(0,0,0,0.1) solid;
    margin: 0 4px;
}
.detail-list>li{
    width: 100%;
    height: 36px;
    line-height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.detail-list>li .tags{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.detail-list>li .tags .icon{
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
}
.detail-list>li .oneLine{
    width: 60%;
    color: #858585;
}
.detail-list>li .out{
    color: green;
}
.detail-list>li .in{
    color: red;
}
